<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<organization>
  <name>OGC</name>
  <standard>
    <name>GeoPackage</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/gpkg12</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-gpkg12-${version}</local-name>
        <title>GeoPackage 1.2 Conformance Test Suite</title>
        <description>Verifies the structure and content of a GeoPackage 1.2 data container.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Final</status>
        <sources>
          <source>gpkg12/${spec-version}/ctl</source>
        </sources>
        <webdir>gpkg12/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
