<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="${ets-code}-${version}" verbose="0" configfailurepolicy="skip">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.gpkg12.TestRunListener" />
    <listener class-name="org.opengis.cite.gpkg12.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.gpkg12.TestFailureListener" />
  </listeners>

  <test name="Core">
    <packages>
      <package name="org.opengis.cite.gpkg12.core" />
    </packages>
    <classes>
      <class name="org.opengis.cite.gpkg12.SuitePreconditions" />
    </classes>
  </test>
  <test name="Features">
    <packages>
      <package name="org.opengis.cite.gpkg12.features" />
    </packages>
  </test>
  <test name="Tiles">
    <packages>
      <package name="org.opengis.cite.gpkg12.tiles" />
    </packages>
  </test>
  <test name="Attributes">
    <packages>
      <package name="org.opengis.cite.gpkg12.attributes" />
    </packages>
  </test>
  <test name="Extensions">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions" />
    </packages>
  </test>
  <test name="Non-linear Geometries">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.nonlinear" />
    </packages>
  </test>
  <test name="RTree Index">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.rtreeindex" />
    </packages>
  </test>
  <test name="Webp">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.webp" />
    </packages>
  </test>
  <test name="Metadata">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.metadata" />
    </packages>
  </test>
  <test name="Schema">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.schema" />
    </packages>
  </test>
  <test name="CRS WKT">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.crswkt" />
    </packages>
  </test>
  <test name="Tiled Gridded Elevation Data">
    <packages>
      <package name="org.opengis.cite.gpkg12.extensions.elevation" />
    </packages>
  </test>
</suite>
